body{
    background-color: aliceblue;
    background-image: url("Images/hearts&magic.gif"); 
    background-size: 100%;
    background-repeat: cover no-repeat;
}

.buttons{
    display: flex;
    list-style: none;
    width: 200px;
    text-decoration: none;
}

.buttons > * {
    border: 2px solid rgb(172, 56, 127);
    background-color: rgb(172, 56, 127);
    /* padding-left: 295px;
    margin: 10px; */
    text-decoration: none;
}

.buttons a{
    float: left;
    color:white;
    padding: 25px;
    margin: 15px;
}

.buttons a li:hover{
    color: rgb(77, 56, 172);
}

.spotify{
    bottom: -90px;
}

@media screen and(min-width: 200px) {
    .blogContainer, .blogContainer>*, a li, .spotify{
        font-size: 40px;
    }
}