body{
    background-image: url("Website-Banner.png");
    background-size: 95%;
    background-repeat: cover no-repeat;
    background-color: rgb(24, 20, 46);
}

.buttons{
    display: flex;
    list-style: none;
    width: 40px;    
}

.buttons >* {
    padding-left: 245px;
    font-family: 'Franklin Gothic Medium';
    font-size: 255%;
}

.buttons a{
    color:white;
    text-decoration: none;
}

.buttons a li:hover{
    color: rgb(0, 56, 209);
}

@media screen and(min-width: 300px) {
    .buttons, .buttons >*{
        font-size: 10px;
    }
}